/**table**/
.table {
    background: #FFF;
    font-size: 12px;
    border-top: 1px solid #e1e6eb;
    margin-top: 8px;
    border: 1px solid #e1e6eb;
    color:#333333;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table {
    max-width: 100%;
    background-color: transparent;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table tr td {
    padding: 12px 8px;
    border-top: 0px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}

/** form **/
.input {
    display: block;
    height: 30px;
    padding: 6px 12px;
    line-height: 30px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.textarea{
	height: inherit;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}


.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
    border-color: transparent;
}

.bg-primary {
    color: #fff;
    background-color: #337ab7;
}

.bg-success {
    background-color: #dff0d8;
}

.bg-info {
    background-color: #d9edf7;
}

.bg-warning {
    background-color: #fcf8e3;
}

.bg-danger {
    background-color: #f2dede;
}

.bd-success{
	border-color: #3c763d;	
}

.bd-error{
	border-color: #a94442;
}

.bd-notnull{
	border-color: red;	
}
